::selection {
    background: #d3d3d3;
    color: #555;
}

::-moz-selection {
    background: #d3d3d3;
    color: #555;
}

::-webkit-selection {
    background: #d3d3d3;
    color: #555;
}

.wrapper::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: var(--base20);
}

.article-main::-webkit-scrollbar {
    background-color: var(--base20);
}

.article-main::-webkit-scrollbar-thumb {
    background-color: var(--base20);
}

.article-main:hover::-webkit-scrollbar-thumb {
    background-color: var(--base15);
}

.vs-textarea::-webkit-scrollbar {
    background-color: var(--base20);
}

.vs-textarea::-webkit-scrollbar-thumb {
    background-color: var(--base20);
}

.vs-textarea:hover::-webkit-scrollbar-thumb {
    background-color: var(--base15);
}

.comment-wrapper::-webkit-scrollbar {
    background-color: var(--base18);
}

.comment-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--base18);
}

.comment-wrapper:hover::-webkit-scrollbar-thumb {
    background-color: var(--base14);
}

.sidebar-main::-webkit-scrollbar {
    background-color: var(--base19);
}

.sidebar-main::-webkit-scrollbar-thumb {
    background-color: var(--base19);
}

.sidebar-main:hover::-webkit-scrollbar-thumb {
    background-color: var(--base15);
}

.vs-input {
    background-color: var(--base14);
    border: none;
    outline: none;
    color: var(--base06);
    height: 30px;
    width: 100%;
    padding: 0px 5px;
    border: 1px rgba($color: #000000, $alpha: 0) solid;
    box-sizing: border-box;
}

.vs-input:focus {
    border: 1px var(--blue06) solid;
}

.vs-textarea {
    background-color: var(--base14);
    border: none;
    outline: none;
    color: var(--base06);
    height: 30px;
    width: 100%;
    padding: 0px 5px;
    box-sizing: border-box;
    resize: none;
    padding: 10px;
    border: 1px rgba($color: #000000, $alpha: 0) solid;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.vs-textarea:focus {
    border: 1px var(--blue06) solid;
}

.vs-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--base14);
    border-radius: 2px;
    padding: 0px 5px;
    font-size: 12px;
    height: 18px;
}

.vs-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue06);
    min-width: 15px;
    height: 15px;
    text-align: center;
    color: var(--base01);
    border-radius: 15px;
    font-size: 12px;
    padding: 1px 2px;
    font-weight: 500;
}

.vs-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px 10px;
    font-size: 14px;
    background-color: var(--blue06);
    box-sizing: border-box;
    color: var(--base01);
    cursor: pointer;
    transition: all 0.25s;
}

.vs-button:hover {
    background-color: var(--blue05);
}

.vs-button:active {
    background-color: var(--blue07);
}