.css-vars(@isDark) {
  --md-bk-color: if(@isDark, var(--base20), #fff);
}

.md-editor {
  .css-vars(false);
}

.md-editor-dark {
  .css-vars(true);
}

.md-editor-dark {
  --md-bk-color: var(--base20) !important;
}

.md-editor-dark .default-theme pre code {
  padding-top: 0px;
  background-color: #282c34 !important;
}

.md-editor-dark .default-theme pre:before {
  background-color: #282c34 !important;
}

.default-theme pre code {
  border-radius: 0 !important;
}

.default-theme pre {
  border-radius: 0px !important;
  box-shadow: none !important;
}
.default-theme pre:before {
  display: none !important;
}

.default-theme pre code {
  padding-top: 1em !important;
}

.md-editor-dark .default-theme table tr {
  background-color: #292929 !important;
}
.md-editor-dark .default-theme table td {
  border-color: rgb(69, 69, 69) !important;
}
.md-editor-dark .default-theme table th {
  background-color: #383838 !important;
  border-color: rgb(69, 69, 69) !important;
}

.md-editor-dark .default-theme table thead tr {
  white-space: nowrap;
}
